<app-auth-header></app-auth-header>

<div class="container">
	<h2>Inventory</h2>
	<button type="button" class="btn">+ Add new item</button>
	<div>
		<input type="search" placeholder="Future Search">
	</div>
	<div class="item-list">
		<div class="item" *ngFor="let item of items" (click)="showReservations(item)">

			<div>
				<img src="{{item.img}}" alt="{{item.name}}" class="item-img">
			</div>

			<div class="item-details">

				<h3>
					<img src="/assets/out.svg" class="item-out" *ngIf="!item.in" alt="Out" title="Out">
					{{item.name}}
				</h3>

				<small>{{item.serial}}</small>

				<div class="attr-list">
					<ng-container *ngFor="let attr of item.attrs | keyvalue">
						<div>{{attr.key}}</div>
						<div>{{attr.value}}</div>
					</ng-container>
				</div>

			</div>

			<div class="item-controls">
				<button class="btn icon-btn" (click)="editItem(item)">
					<img src="/assets/edit.svg" alt="Edit {{item.name}}">
				</button>
				<button class="btn icon-btn" (click)="reserveItem(item)">
					<img src="/assets/calendar.svg" alt="Reserve {{item.name}}">
				</button>
				<button class="btn icon-btn" (click)="deleteItem(item)">
					<img src="/assets/trash.svg" alt="Delete {{item.name}}">
				</button>
			</div>

		</div>
	</div>
</div>